@media print, (max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 30px;
    }




    /*------------
        Header
    ------------*/
    .mob_header
    {
        display: block;
    }


    header
    {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;

        width: 310px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 0;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #fff;
    }

    header.show
    {
        transform: translateX(0);
    }


    header .mob_scroll
    {
        display: flex;
        overflow: auto;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 20px 0;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    header .mob_scroll > *
    {
        width: 100%;
    }


    header .logo
    {
        display: none;
    }


    header .info
    {
        width: 100%;
    }


    header .search
    {
        width: 100%;
        margin-bottom: 20px;

        order: 2;
    }


    header .phone
    {
        width: 100%;
        margin: 0;

        order: 3;
    }

    header .callback_btn
    {
        margin-top: 12px;
        margin-left: 0;

        order: 3;
    }


    header .menu
    {
        display: block;

        width: 100%;
        margin: 0 0 20px;
    }

    header .menu .item
    {
        display: flex;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    header .menu .item + .item
    {
        margin-top: 8px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title
    {
        padding: 12px 40px 12px 26px;
    }

    .block_head .title small
    {
        font-size: 19px;
        line-height: 25px;

        margin-top: 2px;
    }


    .block_head .logo
    {
        margin-bottom: 10px;
    }


    .block_head .order_btn
    {
        font-size: 16px;

        padding: 10px 28px;
    }



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block .img.left,
    .text_block .img.right
    {
        max-width: calc(50% - 40px);
        margin: 0 0 30px 40px;
    }


    .text_block .title small
    {
        font-size: 19px;
        line-height: 23px;

        margin-top: 4px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        min-height: 460px;
    }


    .first_section .info
    {
        padding-right: 48px;
    }

    .first_section .info .title
    {
        font-size: 30px;
        line-height: 36px;

        padding: 18px 40px 20px 30px;
    }

    .first_section .info .title small
    {
        font-size: 18px;
        line-height: 24px;
    }

    .first_section .info .title img
    {
        right: -48px;
    }


    .first_section .info .link
    {
        width: 340px;
        margin-top: 25px;
        margin-left: 30px;
        padding: 10px 20px;
    }

    .first_section .info .link .icon
    {
        width: 25px;
        height: 25px;
        margin-left: 16px;
    }


    .first_section .point1
    {
        left: 70%;
    }

    .first_section .point2
    {
        left: 60%;
    }



    /*--------------
        Products
    --------------*/
    .products .row
    {
        margin-bottom: -40px;
        margin-left: -30px;
        padding: 0;
    }

    .products .row > *
    {
        width: calc(33.333% - 30px);
        margin-bottom: 40px;
        margin-left: 30px;
    }


    .products .product .thumb
    {
        padding-bottom: 100%;
    }

    .products .product .name
    {
        font-size: 21px;
        line-height: 25px;
    }


    .products .product .buy_btn
    {
        font-size: 17px;

        width: 144px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        padding: 50px 0;
    }


    .advantages .item
    {
        font-size: 15px;
        line-height: 21px;
    }

    .advantages .item .name
    {
        font-size: 21px;
        line-height: 27px;
    }



    /*-----------------
        How it work
    -----------------*/
    .how_it_work
    {
        min-height: 412px;
    }

    .how_it_work .desc
    {
        font-size: 15px;

        bottom: 86px;

        width: 318px;
        margin-right: 46px;
        padding: 16px 40px 16px 20px;
    }



    /*---------------
        Solutions
    ---------------*/
    .solutions .block_head
    {
        margin-bottom: 30px;
    }


    .solutions .features
    {
        font-size: 14px;
        line-height: 16px;
    }

    .solutions .row > *.features
    {
        display: none;
    }


    .solutions .product .features > *,
    .solutions .product .price
    {
        padding-right: 24px;
        padding-left: 24px;
    }



    /*-----------------
        Application
    -----------------*/
    .application .head .title
    {
        font-size: 21px;
        line-height: 27px;

        padding: 5px 40px 6px 24px;
    }

    .application .head .desc
    {
        font-size: 20px;
        line-height: 24px;

        max-width: calc(100% - 320px);
    }


    .application .row > *.item
    {
        width: calc(100% - 30px);
    }




    /*-------------------------------
        Application olympic games
    -------------------------------*/
    .application_olympic_games .head .title
    {
        font-size: 21px;
        line-height: 27px;

        padding: 5px 40px 6px 24px;
    }

    .application_olympic_games .head .seria
    {
        font-size: 19px;

        padding: 5px 40px 5px 20px;
    }

    .application_olympic_games .head .desc
    {
        font-size: 20px;
        line-height: 24px;
    }


    .application_olympic_games .item .images > *
    {
        width: calc(33.333% - 30px);
    }

    .application_olympic_games .item .images > img
    {
        width: auto;
        max-width: calc(100% - 30px);
    }


    .application_olympic_games .item .img
    {
        padding-bottom: 295px;
    }


    .application_olympic_games .bottom
    {
        margin-top: -72px;
    }

    .application_olympic_games .bottom img
    {
        display: none;
    }

    .application_olympic_games .bottom img + img
    {
        display: block;

        max-width: 100%;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form .data
    {
        padding: 50px 20px;
    }


    .order_form .info
    {
        width: 100%;
        margin-bottom: 30px;
    }

    .order_form .info .title
    {
        font-size: 21px;
        line-height: 27px;
    }

    .order_form .info .phone
    {
        font-size: 21px;
        line-height: 27px;

        margin-top: 20px;
    }


    .order_form .form
    {
        width: 100%;
    }



    /*----------------------------
        Cultural - Block title
    ----------------------------*/
    .cultural .block_title
    {
        font-size: 32px;

        padding-left: 28px;
    }



    /*--------------------------
        Cultural - Head info
    --------------------------*/
    .cultural .head_info
    {
        margin-bottom: 50px;
    }

    .cultural .head_info .cont
    {
        min-height: 400px;
    }


    .cultural .head_info .title
    {
        font-size: 38px;

        width: 528px;
    }

    .cultural .head_info .desc
    {
        font-size: 20px;

        width: 364px;
    }

    .cultural .head_info .icons img
    {
        max-width: 44px;
        max-height: 36px;
        margin: 0 11px;
    }



    /*----------------------
        Cultural - About
    ----------------------*/
    .cultural .about .full_range_services
    {
        width: 100%;
    }

    .cultural .about .full_range_services .block_title
    {
        font-size: 44px;
    }

    .cultural .about .full_range_services .desc
    {
        font-size: 20px;

        width: 100%;
        margin-top: 28px;
    }

    .cultural .about .full_range_services .employees
    {
        margin-top: 64px;
    }

    .cultural .about .full_range_services .employees .title
    {
        font-size: 22px;

        width: 240px;
        margin-bottom: -3px;
    }

    .cultural .about .full_range_services .employees .title span
    {
        font-size: 30px;
    }

    .cultural .about .full_range_services .employees .val
    {
        font-size: 26px;
        line-height: 90%;

        width: 340px;
        margin-left: -40px;
        padding-left: 40px;
    }

    .cultural .about .full_range_services .employees .val b
    {
        font-size: 80px;
        line-height: 90px;
    }

    .cultural .about .full_range_services .employees .val span
    {
        margin-bottom: 16px;
    }



    .cultural .about .capabilities
    {
        width: 100%;
        margin-top: 40px;
    }


    .cultural .about .capabilities .list
    {
        font-size: 16px;

        padding-top: 0;
    }

    .cultural .about .capabilities .list > * + *
    {
        margin-top: 16px;
    }


    .cultural .about .capabilities .download
    {
        margin-top: 40px;
    }

    .cultural .about .capabilities .download a
    {
        font-size: 16px;

        padding: 10px 24px;
    }

    .cultural .about .capabilities .download a .icon
    {
        margin-left: 24px;
    }



    .cultural .about .message
    {
        font-size: 19px;
    }

    .cultural .about .message .icon + *
    {
        width: calc(100% - 104px);
    }



    /*--------------------------
        Cultural - Solutions
    --------------------------*/
    .cultural .solutions .tabs
    {
        margin-left: -8px;
    }

    .cultural .solutions .tabs > *,
    .cultural .solutions .tabs > *.category > *
    {
        margin-bottom: 8px;
        margin-left: 8px;
    }


    .cultural .solutions .tabs > *.category .name
    {
        font-size: 20px;
        line-height: 24px;

        width: 100%;
        padding-top: 8px;
    }


    .cultural .solutions .images
    {
        margin-bottom: 24px;
    }

    .cultural .solutions .desc
    {
        font-size: 16px;
    }


    .cultural .solutions .message
    {
        font-size: 20px;
    }

    .cultural .solutions .message .icon + *
    {
        width: calc(100% - 100px);
    }



    /*-------------------------
        Cultural - Projects
    -------------------------*/
    .cultural .projects .grid
    {
        grid-gap: 12px;
        grid-template-columns: repeat(2, 1fr);
    }



    /*-----------------------
        Cultural - Pluses
    -----------------------*/
    .cultural .pluses
    {
        margin-bottom: 50px;
    }


    .cultural .pluses .item
    {
        font-size: 16px;
    }

    .cultural .pluses .item .icon
    {
        width: 56px;
        height: 56px;
    }

    .cultural .pluses .item .icon + *
    {
        width: calc(100% - 88px);
    }



    /*------------------------
        Cultural - Reviews
    ------------------------*/
    .cultural .reviews
    {
        padding: 50px 0;
    }
}
