@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 22px;
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        top: -50px;
    }



    /*------------
        Header
    ------------*/
    .mob_header
    {
        padding: 12px 0;
    }


    .mob_header .logo img
    {
        height: 28px;
    }


    .mob_header .phone
    {
        font-size: 14px;
        line-height: 20px;

        margin-left: 0;
    }


    .mob_header .mob_menu_btn
    {
        width: 46px;
        margin-left: 10px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }

    .block_head .title
    {
        width: calc(100% - 20px);
        padding: 10px 28px 10px 20px;
    }


    .block_head .order_btn
    {
        margin-left: 20px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .line
    {
        margin-bottom: 12px;
    }


    .form .bottom .agree
    {
        margin-bottom: 16px;
    }

    .form .bottom .agree,
    .form .bottom .submit
    {
        width: 100%;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block .title small
    {
        font-size: 16px;
        line-height: 20px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        padding-right: 0;
        padding-left: 0;
    }


    .first_section .info
    {
        padding-right: 24px;
    }

    .first_section .info .title
    {
        font-size: 22px;
        line-height: 26px;

        padding: 16px 20px 16px 20px;
    }

    .first_section .info .title small
    {
        font-size: 14px;
        line-height: 18px;

        margin-top: 4px;
    }

    .first_section .info .title img
    {
        right: -34px;

        width: 100px;
    }


    .first_section .info .link
    {
        font-size: 15px;

        margin-left: 20px;
    }


    .first_section .bg
    {
        left: 0;

        width: 100%;
    }



    /*--------------
        Products
    --------------*/
    .products .row
    {
        margin-bottom: -30px;
        margin-left: -20px;

        justify-content: flex-start;
    }

    .products .row > *
    {
        width: calc(50% - 20px);
        margin-bottom: 30px;
        margin-left: 20px;
    }


    .products .product .name
    {
        font-size: 18px;
        line-height: 22px;
    }

    .products .product .price
    {
        font-size: 20px;
        line-height: 24px;
    }

    .products .product .price .old
    {
        font-size: 15px;
        line-height: 17px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .block_head
    {
        margin-bottom: 40px;
    }


    .advantages .row
    {
        margin-bottom: -55px;
    }

    .advantages .row > *
    {
        width: calc(100% - 25px);
        max-width: calc(100% - 25px);
        margin-bottom: 55px;
    }



    /*-----------------
        How it work
    -----------------*/
    .how_it_work .desc
    {
        width: calc(100% + 40px);
        margin-left: -20px;
        padding: 12px 32px 12px 20px;
    }

    .how_it_work .desc:before
    {
        right: 18px;

        width: calc(100% + 20px);
    }



    /*---------------
        Solutions
    ---------------*/
    .solutions .block_head .title
    {
        padding-left: 20px;
    }


    .solutions .row
    {
        margin-bottom: -35px;
    }

    .solutions .row > *
    {
        width: 100%;
        margin-bottom: 35px;
    }


    .solutions .product .features
    {
        border: none;
    }

    .solutions .product .features > *.big
    {
        width: 100%;

        text-align: left;
    }



    /*----------------------
        Seria advantages
    ----------------------*/
    .seria_advantages
    {
        padding-top: 0;
    }



    /*-----------------
        Application
    -----------------*/
    .application .head .title
    {
        width: 100%;
    }


    .application .row
    {
        margin-left: -20px;
    }

    .application .row > *
    {
        margin-left: 20px;
    }

    .application .row > img
    {
        width: calc(50% - 20px);
        max-width: calc(100% - 20px);
    }



    /*-------------------------------
        Application olympic games
    -------------------------------*/
    .application_olympic_games .head .title
    {
        width: 100%;
    }

    .application_olympic_games .head .seria
    {
        font-size: 17px;

        overflow: hidden;

        padding: 4px 32px 5px 24px;
    }


    .application_olympic_games .item .img
    {
        padding-bottom: 200px;
    }


    .application_olympic_games .bottom
    {
        margin-top: 0;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form .info .title
    {
        font-size: 19px;
        line-height: 25px;
    }



    /*----------------------------
        Cultural - Block title
    ----------------------------*/
    .cultural .block_title
    {
        font-size: 24px;

        padding-left: 20px;
    }

    .cultural .block_title:before
    {
        width: 6px;
        height: 100%;
    }



    /*--------------------------
        Cultural - Head info
    --------------------------*/
    .cultural .head_info .title
    {
        font-size: 28px;
    }

    .cultural .head_info .desc
    {
        font-size: 16px;

        width: 100%;
    }

    .cultural .head_info .icons img
    {
        max-width: 40px;
        max-height: 32px;
    }



    /*----------------------
        Cultural - About
    ----------------------*/
    .cultural .about .full_range_services
    {
        padding: 24px;
    }

    .cultural .about .full_range_services .block_title
    {
        font-size: 32px;
    }

    .cultural .about .full_range_services .desc
    {
        font-size: 17px;
    }



    .cultural .about .capabilities .download a
    {
        width: 100%;
        padding: 10px 20px;
    }

    .cultural .about .capabilities .download a .size
    {
        margin-left: 8px;
    }

    .cultural .about .capabilities .download a .icon
    {
        margin-left: auto;
    }



    .cultural .about .message
    {
        font-size: 16px;
    }

    .cultural .about .message .icon
    {
        margin-right: auto;
        margin-bottom: 12px;
        margin-left: auto;
    }

    .cultural .about .message .icon + *
    {
        width: 100%;

        text-align: center;
    }



    /*--------------------------
        Cultural - Solutions
    --------------------------*/
    .cultural .solutions .message
    {
        font-size: 17px;
    }

    .cultural .solutions .message .icon
    {
        width: 52px;
        margin-right: auto;
        margin-bottom: 12px;
        margin-left: auto;
    }

    .cultural .solutions .message .icon + *
    {
        width: 100%;

        text-align: center;
    }



    /*------------------------
        Cultural - Reviews
    ------------------------*/
    .cultural .reviews .review .thumb
    {
        border-width: 8px;
    }
}
